@media screen and (max-width:1140px) {

    .container {
        width: 100%;
    }

    /** FIN Media Queries 1140   */
}

@media screen and (max-width:960px) {
    .container {
        width: 100%;
    }

    #menu {
        display: none;
    }
    
    #menu-mobile {
        display: inline;
        padding-top: 15px;
        height: 35px;
    }

    .fascicule{
        width: 155px;
    }

    .avion-dim .bulle{
        display: none;
    }

    /** FIN Media Queries 960   */
}

@media screen and (max-width:465px) {
    .container {
        width: 100%;
    }

    .entete{
        background-color: #093347;
        min-height: 110px;
        border-bottom: 2px solid #ffffff;
    }

    .avion-dim .bulle{
        display: none;
    }

    .silouhette{
        display: none;
    }

    .jet-name{
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .flag-pos{
        position: absolute;
        top: 330px;
        right: 10px;
        display: flex;
        flex-direction: column;
    }

    /** FIN Media Queries 720   */
}
