/* ------- COULEURS & FONDS ------- */

.white{
    color: #ffffff;
}

.orange{
    /*color: #ff6900; pour mémoire (couleur initiale)*/
    color: #ff5120;
}

.black{
    color: black;
}

.entete{
    background-color: #093347;
    min-height: 70px;
    border-bottom: 2px solid #ffffff;
}

.fond-reaction{
    background-image: url(../assets/img/fond-reaction.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 340px;
}

.fond-ww2{
    background-image: url(../assets/img/fond-ww2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 340px;
}

.fond-color1{
    background-color: rgba(9, 51, 71, 0.4);
    min-height: 340px;
}

.fond-color2{
    background-color: rgba(244, 141, 74, 0.4);
    min-height: 340px;
}

.fond-color3{
    /*background-color: #093347;*/
    background-color: rgba(13, 80, 80, 0.4);
    /*background-color:#f7f7f7;*/
    border-top: 2px solid #ffffff;
}

/* ------- FOOTER ------- */

.fond-footer{
    background-color: rgba(13, 80, 80, 0.4);
    /*background-color:#f7f7f7;*/
    min-height: 50px;
    /*border-top: 2px solid #ffffff;*/

}

.fond-footer p{
    color: #ff5120;
    text-align: right;
    padding-top: 15px;
}

/* ------- HEADER ------- */

.logo{
    padding-top: 8px;
    width: 270px;
}

.logo strong{
    font-size: 25px;
    font-weight: 700;
}

.logo span{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 30px;
}

.logo i{
    font-size: 25px;
}

/* MENUS - NAVIGATION */

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #8ebdd6;
}

#menu ul{
    padding-top: 15px;
    height: 35px;
}

#menu li{
    width: 100px;
    height: 35px;
    background-color: #093347;
    border-radius: 3px;
    padding-top: 4px;
    text-align: center;
    margin-left: 10px;
}

#menu li:hover{
    background-color: #1f4558;
}

#menu-img div{
    padding-top: 15px;
    height: 35px;
}

.dropdown-menu div:hover,
.dropdown-menu li:hover{
    border: 3px solid #ff5120;
}

.on{
    border: 2px solid #ff5120;
}

#menu-mobile {
    display: none;
}

/* ------- TEXTES ------- */

body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1px;
}

h1{
    font-size: 40px;
    font-weight: 700;
    margin: 0 auto;
}

h2{
    font-size: 25px;
    font-weight: 500;
}

h3{
    font-size: 20px;
    font-weight: 500;
    margin: 0 auto;
    padding-top: 10px;
}

h4{
    font-size: 16px;
    font-weight: 500;
    margin: 20px 20px 1px 20px;
    color: #ffffff;
}

h5{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    padding-top: 5px;
}

body p{
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    margin: 0;
}

/* ------- LOGIN, SIGNIN ------- */

.fascicule{
    width: 185px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    transform: translateY(15px);
}

.fascicule:hover{
    border: 4px solid #ff5120;
}

button{
    background-color: #213139;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    margin: 0 auto;
}

#savoir q{
    color: #ff5120;
}

#savoir q>span{
    font-family: 'Patrick Hand SC', cursive;
    /*font-size: 30px;*/
}

#savoir h3{
    margin-top: 20px;
    text-align: justify;
}

/* ------- JET or WW2/CARD ------- */
/* image fascicule + maquette */

#avion-card{
    overflow-x: hidden;
}

.prev-next{
    width: 120px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    margin-top: 5px;
    padding-top: 5px;
    text-align: center;
}

.prev-next h4{
    margin: 4px;
}

.prev-next:hover{
    border: 2px solid #ff5120;
    background-color: #1f4558;
}

#avion-img ul
{
    width: 240px;
    height: 463px;
    padding-left: 0;
}

#avion-img ul li
{
    float: left;
    width: 240px;
    height: 463px;
    overflow: hidden;
    position: relative;
}

.images{
    position: absolute;
    left: 0px;
    width: 240px;
    height: 463px;
    cursor: pointer;
}

.n1-5{background: url('../assets/img/1-5.jpg') no-repeat;}
.n6-10{background: url('../assets/img/6-10.jpg') no-repeat;}
.n11-15{background: url('../assets/img/11-15.jpg') no-repeat;}
.n16-20{background: url('../assets/img/16-20.jpg') no-repeat;}
.n21-25{background: url('../assets/img/21-25.jpg') no-repeat;}
.n26-30{background: url('../assets/img/26-30.jpg') no-repeat;}
.n31-35{background: url('../assets/img/31-35.jpg') no-repeat;}
.n36-40{background: url('../assets/img/36-40.jpg') no-repeat;}
.n41-45{background: url('../assets/img/41-45.jpg') no-repeat;}
.n46-50{background: url('../assets/img/46-50.jpg') no-repeat;}
.n51-55{background: url('../assets/img/51-55.jpg') no-repeat;}
.n56-60{background: url('../assets/img/56-60.jpg') no-repeat;}
.n61-65{background: url('../assets/img/61-65.jpg') no-repeat;}
.n66-70{background: url('../assets/img/66-70.jpg') no-repeat;}
.n71-73{background: url('../assets/img/71-73.jpg') no-repeat;}

#part2 div
{
    background-position: -240px 0;
}
#part3 div
{
    background-position: -480px 0;
}
#part4 div
{
    background-position: -720px 0;
}
#part5 div
{
    background-position: -960px 0;
}

/* dimensions avion avec silouhette */

.avion-dim
{
    width: 280px;
    height: 463px;
    margin-bottom: 10px;
    background-color: #093347;
    opacity: 0.8;
    position: relative;
}

.silouhette{
    text-align: center;
    margin-top: 60px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ff5120;
    margin-left: 40px;
    margin-right: 40px;
    border-left: 2px solid #ff5120;
}

.jet-name{
    text-align: center;
    margin-top: 40px;
}

.flag-pos{
    position: absolute;
    top: 15px;
    right: 15px;
}

.flag{
    display: block;
    width: 50px;
    margin-bottom: 4px;
    border: 1px solid white;
}

.bulle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff5120;
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
}

.b-env{
    position: absolute;
    top: 290px;
    right: 50px;
}

.b-lg{
    position: absolute;
    top: 75px;
    right: 214px;
}

.b-surf{
    position: absolute;
    top: 185px;
    right: 113px;
}

/* données techniques avion */

.avion-car
{
    width: 520px;
    height: 463px;
    background-color: #093347;
    opacity: 0.8;
    position: relative;
}

.avion-car .progress{
    height: 20px;
    margin: 10px 180px 0px 20px;
}

.avion-car .progress h5{
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
}

.rect{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 25px;
    z-index: -1;
    border-radius: 5px;
    background-color: #ff5120;
    color: white;
    font-size: 20px;
    text-align: right;
    padding-top: 4px;
    padding-right: 6px;
}

.rect h4{
    margin: 3px;
}

.bulles{
    top: 60px;
    right: 100px;
}

/* ------- JET or WW2 COLLECTION ------- */

.avion-list{
    position: relative;
    padding-top: 40px;
}

.check{
    background-color: green;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
    width: 20%;
}

.times{
    background-color: red;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
    width: 20%;
}

/* ------- JET or WW2/LIST ------- */

.collec{
    background-color: #093347;
    border-radius: 3px;
    padding: 7px 10px;
}

.table{
    margin-bottom: 0px;
}

/* ------- BOURSE ------- */
/* PHOTOS ANNONCES */

.gabarit{
    width: 150px;
    height: 150px;
    border: 2px solid white;
}

/* ------- GLOBAL ------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

li{
    list-style-type: none;
}

iframe {
    max-width: 100%;
    display: block;
}

figure {
    margin: 0;
}